body {
    background-image: url("./images/ModeloCert.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#nombre {
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    position: absolute;
    top: 41%;
    left: 32%;
    font-weight: 600;
    text-transform: capitalize;
}
#dni {
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    position: absolute;
    top: 41%;
    left: 80%;
    font-weight: 600;
}
#caracter {
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    position: absolute;
    top: 55%;
    left: 28%;
    display: none;
}
